<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/characters"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="character">{{ character.name }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngIf="!modif && character">
    <div class="ion-text-center">
      <ion-button (click)="setUpdate()"
        ><ion-icon name="create"></ion-icon>Modifier</ion-button
      >
      <ion-button (click)="onDelete(character.id)"
        ><ion-icon name="person-remove"></ion-icon>Supprimer</ion-button
      >
    </div>
    <ion-grid>
      <ion-row>
        <ion-col> <strong>Nom :</strong> {{ character.name }} </ion-col>
        <ion-col> <strong>Sexe :</strong> {{ character.gender }} </ion-col>
      </ion-row>
      <ion-row>
        <ion-col> <strong>Âge :</strong> {{ character.age }} </ion-col>
        <ion-col> <strong>Taille :</strong> {{ character.height }} cm </ion-col>
      </ion-row>
      <ion-row>
        <ion-col> <strong>Race :</strong> {{ character.race }} </ion-col>
        <ion-col> <strong>Classe :</strong> {{ character.class }} </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <strong>Backstory :</strong> {{ character.backstory }}
        </ion-col>
      </ion-row>
      <ion-row class="ion-text-center">
        <ion-col size="12">
          <img [src]="character.pictureLink" [alt]="character.name" />
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div *ngIf="modif">
    <ion-item>
      <ion-input
        type="text"
        placeholder="Nom"
        [(ngModel)]="character.name"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        type="number"
        placeholder="Âge"
        [(ngModel)]="character.age"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        type="number"
        placeholder="Taille (cm)"
        [(ngModel)]="character.height"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-select [(ngModel)]="character.gender" label="Sexe">
        <ion-select-option value="homme">Homme</ion-select-option>
        <ion-select-option value="femme">Femme</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select [(ngModel)]="character.race" label="Race">
        <ion-select-option value="Elfe">Elfe</ion-select-option>
        <ion-select-option value="Tieffelin">Tieffelin</ion-select-option>
        <ion-select-option value="Drow">Drow</ion-select-option>
        <ion-select-option value="Humain">Humain</ion-select-option>
        <ion-select-option value="Githyanki">Githyanki</ion-select-option>
        <ion-select-option value="Nain">Nain</ion-select-option>
        <ion-select-option value="Demi-elfe">Demi-elfe</ion-select-option>
        <ion-select-option value="Halfelin">Halfelin</ion-select-option>
        <ion-select-option value="Gnome">Gnome</ion-select-option>
        <ion-select-option value="Drakéïde">Drakéïde</ion-select-option>
        <ion-select-option value="Demi-orque">Demi-orque</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select [(ngModel)]="character.class" label="Classe">
        <ion-select-option value="Guerrier">Guerrier</ion-select-option>
        <ion-select-option value="Roublard">Roublard</ion-select-option>
        <ion-select-option value="Clerc">Clerc</ion-select-option>
        <ion-select-option value="Druide">Druide</ion-select-option>
        <ion-select-option value="Magicien">Magicien</ion-select-option>
        <ion-select-option value="Paladin">Paladin</ion-select-option>
        <ion-select-option value="Rôdeur">Rôdeur</ion-select-option>
        <ion-select-option value="Moine">Moine</ion-select-option>
        <ion-select-option value="Barbare">Barbare</ion-select-option>
        <ion-select-option value="Barde">Barde</ion-select-option>
        <ion-select-option value="Ensorceleur">Ensorceleur</ion-select-option>
        <ion-select-option value="Occultiste">Occultiste</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-input
        type="text"
        placeholder="Backstory"
        [(ngModel)]="character.backstory"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        type="text"
        placeholder="Lien vers l'image"
        [(ngModel)]="character.pictureLink"
        label="Lien vers l'image"
      ></ion-input>
    </ion-item>
    <p class="text-center">
      <ion-button (click)="onUpdate()">Modifier</ion-button>
    </p>
  </div>
</ion-content>
