.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/charactere_list_bg.jpeg');
    background-size: cover;
    background-position: 46% top; 
    z-index: -1; 
    opacity: 0.5; 
  }
  