<ion-header>
  <ion-toolbar>
    <ion-title>
      Bienvenue
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding welcome-content">
  <div class="background-image"></div>
  <div class="welcome-message-container">
    <div class="welcome-message">
      <h1>Bienvenue Sur Baldur Creator!</h1>
      <p>Ici vous pourrez créer votre personnage dans l'univers Baldur's Gate 3</p>
      <p>Explorez nos fonctionnalités et profitez pleinement de votre expérience.</p>
    </div>
  </div>
</ion-content>
